@font-face {
	font-family: 'Housky Demo';
	src: url('https://epic-euclid-115a5f.netlify.app/assets/fonts/Housky Demo.ttf');
}

@font-face {
	font-family: 'Anton';
	src: url('https://epic-euclid-115a5f.netlify.app/assets/fonts/Anton-Regular.ttf');
}

@font-face {
	font-family: 'Gotham Light Regular';
	src: url('https://epic-euclid-115a5f.netlify.app/assets/fonts/Gotham%20Light%20Regular.ttf');
}
@font-face {
	font-family: 'Poppins-ExtraLight';
	src: url('https://epic-euclid-115a5f.netlify.app/assets/fonts/Poppins-ExtraLight.ttf');
}
* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color:#d6a97a;
}

.main {
	background-color: #454f50;
	overflow: hidden;
}

.header_housky {
	font-family: "Housky Demo";
}
.header_housky div {
	padding-left: 50px;
}
.header_housky h1 {
	font-size: 140px;
}

.header_housky p {
	color:#6dc9c6;
	font-size: 100px;
	line-height: 60px;
}
.header_image_border {
	width: 760px;
     height: 760px;
     border:70px solid #6dc9c6;
     border-radius: 50%;
     position: absolute;
     top:-270px;
}
.header_vertical_line{
	position: absolute;
	width:2px;
	height: 300px;
	background-color: #d6a97a;
	left:150px;
	top:407px;
}
.header_image_container {
	position: relative;
}
.header_image_container img {
	position: absolute;
	right: 0;
}

.gold{
	position: absolute;
	top:700px;
}
.container{
	padding: 0;
}

.col-xs-4 {
	padding: 0;
}
a {
	color:#d6a97a;
}
a:hover {
	color: #d6a97a;
}

.anton {
	font-family: 'Anton';
	font-size:30px;
}

.gotham {
	font-family: 'Gotham Light Regular';
	font-size: 20px;
}

.line_container {
	width:66.66%;
	clear: both;
	display: flex;
	align-items: center;
}

.line {
	width:85%;
	height: 2px;
	background-color: #d6a97a;
	float:left;
}

.round{
	width:100px;
	height: 100px;
	border-radius: 50%;
	float:left;
	background-color: #6dc9c6;
	display: flex;
	align-items: center;
	justify-content: center;
}

.round div {
	width:70px;
	height: 70px;
	border-radius: 50%;
	background-color: #454f50;
}

.service {
	clear:both;
	font-family: 'Gotham Light Regular';
	font-size:20px;
}
.service div {
	padding-left: 50px;
}
.service_head {
	/*margin-bottom: 50px;*/
	font-size: 50px;
	display: block;
	/*font-family: 'Anton'*/
}
.service p {
	margin-left:50px;
}
.service ul {
	margin-left:20px;
}

.service_bottom {
	margin-top: 140px;
}

.service_image {
	position: relative;
	height: 1000px;
}
.service_image img {
	position: absolute;
	right: 0;
	top:150px;
}
.quarter-circle-top-right{
     width: 330px;
     height: 330px;
     border-bottom:70px solid #6dc9c6;
     border-left:70px solid #6dc9c6;
     border-radius: 0 0 0 330px;
     position: absolute;
     top:400px;
     /*left:30px;*/
}
.blackbox_contaner {
	clear: both;
	display: flex;
	align-items: center;
	padding-left:50px;
}

.blackbox {
	background-color: #2b2c2c;
	margin:10px;
	padding:20px;

}

.blackbox ul{
	margin-left:20px;
}

.blackbox_contaner img {
	width:90%;
}

#animation_container {
	font-family: 'Housky Demo';
	color:#6dc9c6;
	font-size: 120px;
	padding: 20px 20px 20px 50px;
	line-height: 70px;
	position: relative;
	height: 200px;
}

#animation {
	/*position: absolute;
	top:10px;
	left:-1000px;*/
	color:#6dc9c6;
	animation-name: flash;
	/*animation-delay: 0.5s;*/
	animation-duration: 2s;
	animation-iteration-count: infinite;
}
@keyframes flash {
	0% {color:#6dc9c6;}
	50% {color:#d6a97a;}
	100% {color:#6dc9c6;}
}
.image_container {
	text-align: center;
}
.brush_container {
	position: relative;
	width: 100%;
}
.brush_container img {
	position: absolute;
	top:100px;
}
.quarter-circle-bottom-left{
    width: 310px;
     height: 310px;
     border-top:70px solid #6dc9c6;
     border-right:70px solid #6dc9c6;
     border-radius: 0 310px 0 0;
     position: absolute;
     top:30px;
     left:70px;
}
.bottom {
	clear:both;
	height: 500px;
	position: relative;
}
.bottom img {
	width:100%;
	position: absolute;
	bottom:-500px;
	left: 0;
}
.bottom_ring {
	width:770px;
	height: 770px;
	border:70px solid #6dc9c6;
	background-color: transparent;
	position: absolute;
	border-radius: 50%;
	left:-205px;
	top:10px;
}
.col-xs-6 {
	padding:0;
}
.col-xs-5 {
	padding: 0;
}
.contact_info {
	padding: 20px;
}

.ml-10{
	margin-left:25px;
}

.bottom_round{
	margin:auto;
	margin-top:100px;
	width:100px;
	height: 100px;
	border-radius: 50%;
	background-color: #6dc9c6;
	display: flex;
	align-items: center;
	justify-content: center;
}

.bottom_round div {
	width:70px;
	height: 70px;
	border-radius: 50%;
	background-color: #454f50;
}

.vertical_line{
	width:2px;
	height: 220px;
	background-color: #d6a97a;
	margin:auto;
}

.bottom_line_container{
	position: absolute;
	right:20px;
	bottom: -0px;
}

.poppins {
	/*font-family: 'Poppins-ExtraLight'*/
	color:#6dc9c6;
	position: absolute;
	bottom:40px;
	right:50px;
	background-color: #454f50;
	font-size: 20px;

}
.poppins a {
	color:#6dc9c6;
	padding-top: 30px;
}
.deliver {
	color:#6dc9c6;
	font-size: 120px;
	font-family: "Housky Demo";
	line-height: 80px;
}
/* .footer_font {
 	font-size: 20px;
 }*/

@media only screen and (max-width: 1200px) {
 	
  	.header_housky p {
		line-height: 50px;
	}
	.vertical_line{
		height: 150px;
	}

	.bottom {
		height: 400px;
	}
	.bottom img {
		bottom: -400px;
	}
}

@media only screen and (max-width: 991px) {
 	.header_housky h1 {
    	font-size: 90px;
  	}

  	.header_housky p {
		font-size: 50px;
		line-height: 40px;
	}
	.service p {
		margin-left:30px;
	}
	.service ul {
		margin-left:10px;
	}

	.bottom_round{
		width:70px;
		height: 70px;
	}
	.bottom_round div {
		width:50px;
		height: 50px;
	}
	.vertical_line{
		height: 170px;
	}
	.poppins {
		right:10px;
	}
}

@media only screen and (max-width: 767px) {
 	.header_housky h1 {
    	font-size: 60px;
  	}

  	.header_housky p {
		font-size: 40px;
	}

	.anton {
		font-size: 20px;
	}

	.gotham {
		font-size: 10px;
	}

	.round {
		width:50px;
		height: 50px;
	}

	.round div{
		width:35px;
		height: 35px;

	}

	.service_bottom {
		margin-top: 50px;
	}
	.animation {
		font-size: 70px;
		font-family: "Housky Demo";
	}
	.blackbox_contaner {
		display: block;
	}
	.blackbox_contaner img {
		width:50%;
	}
	.bottom_round{
		width:50px;
		height: 50px;
	}
	.bottom_round div {
		width:30px;
		height: 30px;
	}
	.vertical_line{
		height: 100px;
	}
	.bottom {
		height: 300px;
	}
	.bottom img {
		bottom: -300px;
	}
	.poppins {
		font-size: 10px;
	}
}

@media only screen and (max-width: 450px) {
 	.header_housky h1 {
    	font-size: 30px;
  	}
  	.header_housky p {
		font-size: 20px;
	}

	.anton {
		font-size: 10px;
	}

	.gotham {
		font-size: 7px;
	}

	.round {
		width:30px;
		height: 30px;
	}

	.round div{
		width:20px;
		height: 20px;
		
	}
	.service_image {
		height: 1000px;
	}
	.animation {
		font-size: 50px;
	}

	.blackbox_contaner img {
		width:90%;
	}

	.bottom_round{
		display: none;
	}
	.vertical_line{
		display: none;
	}
	.bottom {
		height: 250px;
	}
	.bottom img {
		bottom: -250px;
	}
}